@{
    ViewData["Title"] = "Nutrición";
}
<header class="navbar">
    <div class="logo">🏋️ Zenith</div>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Home">Home</a></li>
            <li><a asp-controller="Home" asp-action="Rutinas">Rutinas</a></li>
            <li><a asp-controller="Home" asp-action="Progreso">Progreso</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h1>Plan de Nutrición</h1>
    <p>Encuentra recomendaciones alimenticias para mejorar tu rendimiento 🍎</p>
</section>
