@{
    ViewData["Title"] = "Rutinas";
}
<header class="navbar">
    <div class="logo">🏋️ Zenith</div>
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Home">Home</a></li>
            <li><a asp-controller="Home" asp-action="Nutricion">Nutrición</a></li>
            <li><a asp-controller="Home" asp-action="Progreso">Progreso</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h1>Rutinas Personalizadas</h1>
    <p>Aquí verás tus planes de entrenamiento adaptados a tus metas 💪</p>
</section>
